<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <title>Update Novel</title>
  </head>
  <body>
    <div
      class="relative flex min-h-screen flex-col justify-center bg-slate-900 py-6 sm:py-12"
    >
      <div
        class="relative bg-slate-800 px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
      >
        <a
          class="text-fuchsia-300 bg-slate-900 rounded-md hover:bg-slate-600 px-2 py-1"
          href="/novels"
          >Back to novels page</a
        >
        <form
          class="block max-w-sm rounded-lg text-fuchsia-100 bg-white mt-4 p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-slate-600"
          id="formTambah"
          action="/novels/update/<%= result1.id%>"
          method="post"
        >
          <div
            class="text-center mb-3 mt-1 pb-1 text-xl font-semibold"
            id="formTambahNama"
          >
            <label>Edit data novel dengan id:<%= result1.id%></label>
          </div>

          <div class="relative mb-4" data-te-input-wrapper-init>
            <input
              type="text"
              class="peer block min-h-[auto] w-full rounded bg-slate-500 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-1000"
              name="title"
              id="title"
              placeholder="Judul Novel"
            />
          </div>

          <div class="relative mb-4" data-te-input-wrapper-init>
            <input
              type="text"
              class="peer block min-h-[auto] w-full rounded bg-slate-500 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-1000"
              name="image"
              id="image"
              placeholder="Gambar Sampul Novel"
            />
          </div>

          <div class="relative mb-4" data-te-input-wrapper-init>
            <input
              type="text"
              class="peer block min-h-[auto] w-full rounded bg-slate-500 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-1000"
              name="price"
              id="price"
              placeholder="Harga Novel"
            />
          </div>

          <div class="relative mb-4" data-te-input-wrapper-init>
            <input
              type="text"
              class="peer block min-h-[auto] w-full rounded bg-slate-500 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-1000"
              name="stock"
              id="stock"
              placeholder="Stok Novel"
            />
          </div>

          <div class="relative mb-4" data-te-input-wrapper-init>
            <label
              for="default-checkbox"
              class="text-sm font-medium text-gray-900 dark:text-gray-300"
              >Pilih Penulis (jika tidak ada, silakan buat di
              http://localhost:3000/writers/add)</label
            >
          </div>

          <% result2.forEach((data) => { %>
          <div class="flex items-center mb-4">
            <input
              id="default-checkbox"
              name="writer<%= data.id %>"
              type="checkbox"
              value="<%= data.name %>"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="default-checkbox"
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              ><%= data.name %></label
            >
          </div>
          <% }) %>

          <button
            class="mb-3 inline-block min-w-10 rounded px-6 pb-2 bg-slate-900 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
